@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Fjalla One", sans-serif; */
}

a {
    color: wheat;
    text-decoration: none;
}

#root {
    /* background: linear-gradient(to right, #503380 50%, white 50%); */
    background: #48306e;
    height: 100%;
}

/* @media screen and (min-width: 768px){
    #root {
        height: 100%;
    }
} */
