@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: "Fjalla One", sans-serif; */
}

a {
    color: wheat;
    text-decoration: none;
}

#root {
    background: #48306e;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    #root {
        height: 100%;
    }
}

