.categories a {
    color: white;
}

.link {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.coin {
    color: #ffd700;
    display: inline;
    margin: 30px;
    font-size: 30px;
}

.navigation {
    color: black !important;
    font-size: 17px;
}

.navigation:hover {
    background: #ffd700;
}

@media (min-width: 768px) {
    .splitLeft, .splitRight { 
      height: 100vh;

    }
}
