.categories a {
    color: white;
}

.link {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
}

.coin {
    color: #fbf702;
    display: inline;
    margin: 15px;
    font-size: 32px;
    height: 20vh;
    text-shadow: 0px 1px 2px black;
}

/* .nav {
    height: 8vh;
    background: white;
} */

.navigation {
    color: white !important;
    font-size: 18px;
    font-weight: 450;
}

.navigation:hover {
    background: #ffd700 !important;
    color: black !important;
}

@media screen and (max-width: 768px) {
    .coin {
        font-size: 25px;
    }
    .navcollapse {
        color: white !important;
    }
}

